<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Информация
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-white" href="{% url 'orders:create_order' %}">Доставка и оплата</a></li>
                            <li><a class="dropdown-item  text-white" href="#">Контактная информация</a></li>
                            <li><a class="dropdown-item  text-white" href="{% url 'myapp:about' %}">Про нас</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="{% url 'users:users_cart' %}">Корзина</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="{% url 'users:login' %}">Войти</a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Мой профиль
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item  text-white" href="{% url 'users:users_cart' %}">Корзина</a></li>
                            <li><a class="dropdown-item  text-white" href="{% url 'users:profile' %}">Личный кабинет</a>
                            </li>

                            {% if user.is_admin or user.is_staff %}
                            <li><a class="dropdown-item  text-white" href="/admin/">Админ панель</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% endif %}

                            <li><a class="dropdown-item  text-white" href="{% url 'users:logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex" role="search" action="{% url 'goods:search' %}" method="GET">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success text-white" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
</header>